<html>
    <head>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/bootstrap.css" />
    </head>
    <body> 
        <div class="container">
            <header>
                <h1>Edit {{ result.text }}</h1>
            </header>
            <div style="margin:auto;width:50%;background:linen;">
                <form style="padding:20px;" method="post" action="/todo/{{result._id}}">
                    <div class="form-group">
                    <label for="email">Title:</label>
                    <input type="text" class="form-control" name="text" value="{{result.text}}" />
                    </div>
                    <div class="checkbox">
                        <label>  <input type="checkbox" name="completed" {{ handleCheckbox  result.completed}} />Completed:</label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>